/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@font-face{
    font-family: lato;
    src: url('../src/assets/fonts/Lato-Regular.ttf');
}
html, body { height: 100%; }
body { margin: 0 }

* {
    font-family: 'lato';
  }